/* estilos del footer */
footer {
    background-color: #0e0d0d;
    text-align: center;
    color: whitesmoke;
  
    h4 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 11px;
    }
  
    .footer-contacto {
      background-color: black;
      padding-top: 100px;
    }
  
    .logo {
      width: 100%;
    }
  }
  