/* estilos del main */
main {
    padding: 60px;
    background-color: rgb(42, 42, 122);
    color: white;
  
    h1 {
      margin-bottom: 30px;
      font-size: 30px;
      text-align: center;
      color: rgb(189, 107, 0);
    }
  
    .h2 {
      text-align: left;
      color: rgb(189, 107, 0);
      padding: 30px;
    }
  
    .imgg {
      width: 200px;
      padding-left: 10px;
    }
  
    .img {
      display: block;
      width: 250px;
      height: auto;
      border: 2px solid #ff6600;
      border-radius: 10px;
    }
  
    .separar {
      padding-bottom: 30px;
    }
  
    .color {
      background-color: rgb(42, 42, 122);
    }
  
    .boton {
      color: white;
      background-color: #004fa3;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
    }
  }
  
  /* Estilos para las redes sociales */
.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.social-media a {
  color: white;
  text-decoration: none;
  font-size: 24px; 
}

.social-media a:hover {
  color: #ff6600; 
  transition: color 0.3s ease; 
}

.icon i {
  margin-right: 8px; 
}
