/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* fuente del sitio web */
  * {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
